<div
  id="tokengating-example-app"
  data-product_id="{{ product.id }}"
  data-product_gated="{{ product.gated? }}">
  Tokengating example app block placeholder
</div>
<script>
  window.myAppGates = [{%- for gate in product.gates -%}{%- if gate.configuration.app_id == 'tokengate-app-stratch' -%}{%- assign configuration = gate.configuration -%}{
          id: "{{ configuration.id }}",
          name: "{{ configuration.name | escape }}",
          requirements: {{ gate.configuration.metafields.tokengate-app-stratch.requirements }},
          reaction: {{ gate.configuration.metafields.tokengate-app-stratch.reaction }}
        },{%- endif -%}{%- endfor -%}];
</script>

<script
  async
  type="module"
  src="{{ "index.js" | asset_url }}"></script>


{% schema %}
  {
    "name": "Tokengate",
    "target": "section",
    "templates": ["product"],
    "settings": []
  }
{% endschema %}